
  body {

	margin: 0;
	height: 100%;
	width: 100%;
	background-image:  url("https://i.imgur.com/er8DtBW.jpg");

	z-index: 94;

  }
  
  * {
	padding: 0;
	margin: 0;
	z-index: 999;
  }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	
	padding: 0;
}


.container header {
	margin-top: 10%;
	margin-left: 55%;
	width: 37%;
	border-radius: 1em 1em 0 0;
	background: #8c8c8c3b;
	backdrop-filter: blur(15px);
	color: #fff;
	padding: 2em 1em;
	
}

.day {
	font-size: 8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 4em;
	line-height: 1em;
	text-transform: lowercase;
}
.calendar
{
	margin-bottom: 10%;
	margin-left: 55%;
	width: 37%;
	backdrop-filter: blur(15px);
	background: #ffffff;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 2em;
}
 .table {
	/* margin-top:0%;
    margin-bottom:0%; */
	margin-top: -45%;
    margin-bottom:0%;
    width: 40%;
    backdrop-filter: blur(15px);
	background: #8c8c8c3b;
	backdrop-filter: blur(15px);
    border-radius: 5px;
    display: inline-block;
    padding: 2em;
}
.table tbody td:hover {
	background: #cacaca;
	color: #fff;
	border-radius: 5px;
}

.table tbody td:active {
	background: #6a6a6a;
	border-radius: 5px;
}

.table {
    margin-right: 0%; 
}
.table thead {
	color: #232323;
	font-weight: 700;
	text-transform: uppercase;
}

.table td {
	padding: .5em 1em;
	text-align: center;
}


.calendar tbody td:hover {
	background: #cacaca;
	color: #fff;
	border-radius: 5px;
}

.calendar tbody td:active {
	background: #6a6a6a;
	border-radius: 5px;
}
.calendar {
    margin-right: 0%; 
}
.calendar thead {
	color: #232323;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;
}

.calendar tbody td:hover {
	background: #cacaca;
	color: #fff;
	border-radius: 5px;
}

.calendar tbody td:active {
	background: #6a6a6a;
	border-radius: 5px;
}

.hours {

	margin-top: 0%;
    width: 100%;

font-size: 15px;

    display: inline-block;
    padding: 2em;
}
.hours tbody td:hover {
	background: #cacaca;
	color: #fff;
	border-radius: 5px;
}

.hours tbody td:active {
	background: #6a6a6a;
	border-radius: 5px;
}

.hours {
    margin-right: 0%; 
}
.hours thead {
	color: #232323;
	font-weight: 700;
	text-transform: uppercase;
}

.hours td {
	padding: .5em 1em;
	text-align: center;
}

.prev-month,
.next-month {
	color: #cacaca;
}

.reservationDateResult {
	display: none;
	
}
.reservationDateResultHours{
	display: none;

}
.reservationResultHours
{
	display: none;
}

.reservationResultId {
	display: none;
	
}
.reservationResultData
{
	display: none;
	
}

form {
	max-width: 400px;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	border-radius: 5px;
	width: 70%;
	box-sizing: border-box;
	padding: 5px;
	margin-bottom: 9px;
}

.id {
	width: 17%;
	box-sizing: border-box;
	padding: 5px;
	margin-bottom: 9px;
}

button {
	background-color: #fff;
	border-radius: 5px;
	width: 30%;
	box-sizing: border-box;
	padding: 3px;
	margin-bottom: 10px;
}

button {
	cursor: pointer;
}

/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {


	/* Adjust styles for tablets and smaller screens */
	.calendar-container header {
		padding: 2em 1em;
	
	}

	.day {
		font-size: 6em;
	}

	.month {
		font-size: 3em;
	}

	.calendar {
		padding: 1em;
	}

	form {
		max-width: 300px;
	}

	input,
	.id,
	button {
		width: 100%;
	}
}


@media only screen and (max-width: 1230px) {

td {
	font-size: 12px;
	padding: 0;
}


}










  